<div class="container  py-4">
    <div class="row gy-4 gx-3">
        <div class="col-lg-3 col-md-4 col-sm-3">
            <h5 class="h2 text-black mb-2">Smart Class</h5>
            <p class="small text-muted">This is where lifelong learners come to learn the skills they need, to land the jobs they want, to build the lives they deserve.</p>
        </div>
        <div style="padding-left:3cm ;" class="col-lg-4 col-md-4 col-sm-3">
            <h5 class="text-black mb-2">Information</h5>
            <ul class="list-unstyled text-muted">
                <!-- <li routerLinkActive="active">
                    <a href="#" aria-current="page" routerLink="home">Home</a>
                </li> -->
                <li routerLinkActive="active">
                    <a  routerLink="home" class="na" aria-current="page" href="#">Home</a> 
              </li>
                <li><a class="na" href="../About-Us">Company</a></li>
                <li><a class="na" href="../courses">Get started</a></li>
                <li><a class="na" href="../support">FAQ</a></li>
            </ul>
        </div>
        <div  class="col-lg-3 col-md-4 col-sm-3">
            <h5 class="text-black mb-3">About</h5>
            <div class="contact_info">
                <div class="single_info">
                    
                    <div class="info">
                        <p> <i style="padding-right: 10px;" class="fa fa-phone"></i>
                            <a class="na" href="tel:+919246147999">+91 924-614-7999</a></p>
                    </div>
                </div>
                <div class="single_info">
                    <div class="info">
                        <p>  <i style="padding-right: 10px;" class="fa fa-envelope"></i>
                            <a class="na" href="mailto:info@smart-class.com">info@smart-class.com</a></p>
                    </div>
                </div>
                <div class="single_info">
                   
                    <div class="info">
                        <p ><i style="padding-right: 10px;" class="fa fa-map-marker"></i><a style=" color: rgb(131, 128, 128);
                            ">125, Park street aven, Brocklyn,<span>Newyork.</span></a></p>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>