<div  class="container-fluid">

    <div class="col-lg-12 col-md-4 col-sm-4">
            <img class="img-fluid" alt="Responsive image"  style="height:550px; width:2320px;right:60px ;padding-top: 70px;
            " src="../assets/aboutUs.jpg">
    </div>
</div>

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-8 col-sm-9 offset-md-5  offset-sm-5">
    
            <div style=" padding-top: 50px; padding-left: 150px; padding-bottom: 30px;">
                    <img src="../assets/logo.jpg" width="120" height="120"  alt="">
            </div>
            <div class="col-lg-6 col-md-8 col-sm-9  ">

            <h1 class="display-5  " style=" font-family: 'Roboto', sans-serif; color: #134e6f; ;">What is Smart Class ?</h1>
            <br>
            </div>
        </div>
            <div style="text-align: center;" class="col-lg-8 col-md-8 col-sm-9  offset-md-2  offset-sm-1">

            <h4 style="padding-bottom: 50px;" id="parag" class="fw-normal">
                SmartCLass is an online school offering professional pathways to more than two thousand students each month around the world. Whatever your ambition, SmartClass can help you build your future.
                Our unique objective is to enable you to achieve your professional ambitions: we study precisely the skills required by companies today, and develop our courses based on these skills.

            </h4>
            <!-- </div> -->
            <div class="col-lg-8 col-md-8 col-sm-9 offset-md-2  ">

                <h2 class="display-5 " style=" font-family: 'Roboto', sans-serif; color: #134e6f; ;">Why we here ?</h2>
                <br>
                </div>
            </div>
                <div style="text-align: center;" class="col-lg-6 col-md-8 col-sm-9  offset-md-3  offset-sm-1">
    
                <h4 style="padding-bottom: 50px;" id="parag" class="fw-normal">
                    Our goal is to learn the next generation of creative professionals for a future in any industry. 
                    We offer courses in most demanded industries which are designed to help you understand your strengths and weaknesses and guide you along your path .
    
                </h4>
                

            <!-- ,dlmzklzmdzd -->
            <div class="col-lg-8 col-md-8 col-sm-9 offset-md-2  ">

                <h2 class="display-5 " style=" font-family: 'Roboto', sans-serif; color: #134e6f; ;">Why us to learn ?</h2>
                <br>
                </div>
            </div>
                <div style="text-align: center;" class="col-lg-6 col-md-8 col-sm-9  offset-md-3  offset-sm-1">
    
                <h4 style="padding-bottom: 50px;"  id="parag" class="fw-normal">
                    With the help these features you can learn the needed lessons as per your need.
                </h4>
                
            </div>    
    </div>
    <!-- <div class="container"> -->
        <div class="row offset-md-1">
          <div class="col-sm-4" style="padding-right: 30px;">
            <h3 style="padding-left: 130px;">
                <i id="icon" style="color:rgb(101, 201, 168);padding-left: 40px; padding-bottom: 40px;" class="fa fa-paper-plane-o  fa-4x">
                </i>
                <br>
               <a style="color: #134e6f;"> Get Real Skills</a>
            </h3>
            <h5 style="padding-bottom: 50px;" id="parag" class="fw-normal">
                Our quality curriculum is designed with top-tier <br> industry partners, not academics so you learn the skills.
            </h5>
          </div>
          <div class="col-sm-4" style="padding-right: 30px;">
            <h3 style="padding-left: 80px;">
                <i  style="color:rgb(101, 201, 168);padding-left: 80px; padding-bottom: 40px;" class="fa fa-calendar-check-o fa-4x">
                </i>
                <br>
                <a style="color: #134e6f;">Learn On Your Schedule</a>
            </h3>
            <h5 style="padding-bottom: 50px;" id="parag" class="fw-normal">
                Self-paced learning - whenever and wherever you want. <br>
                Graduate while learning part-time for 12 hrs/week.            </h5>
          </div>
          <div class="col-sm-4" style="padding-right: 30px;">
            <h3 style="padding-left: 80px;">
                <i id="icon" style="color:rgb(101, 201, 168);padding-left: 60px; padding-bottom: 40px;" class="fa fa-video-camera  fa-4x">
                </i>
                <br>
                <a style="color: #134e6f;">Project Based Learning</a>
            </h3>
            <h5 style="padding-bottom: 50px;" id="parag" class="fw-normal">
                Learn by doing with real-world projects and other<br> hands-on exercises that lead to real skills.</h5>
          </div>
        </div>
      </div>





        

