<nav style="height: 75px;"  class="navbar navbar-dark ms-auto fixed-top  bg-dark navbar-expand-md">
    <a style="font-size:30px; padding-left: 20px; padding-right:50px" class="navbar-brand" href="#">
      <img src="../assets/logo.jpg" width="30" height="30"  alt="">
       Smart Class 
    </a> 
    
    <!-- <div class="align-items-end" > -->
        <div style="padding: 15px;" class="position-absolute top-0 end-0">
   <h2 style="color: white;" >Dashboard Admin </h2>
    </div>
  </nav>          
  

  
    <div style="padding-top: 100PX;" class="sidebar-container" >

    <ul class="sidebar-navigation">
     
        <li routerLinkActive="active "><a class="nav-link" aria-current="page" routerLink="../admin"><i class="fa fa-home"></i>Home Admin </a>
        </li>
        <li routerLinkActive="active"><a class="nav-link" aria-current="page" routerLink="users"><i class="fa fa-user"></i>Users</a></li>
       
        <li routerLinkActive="active "><a class="nav-link" aria-current="page" routerLink="view"><i class="fa fa-line-chart"></i>Course's list</a></li>
        <li routerLinkActive="active"><a class="nav-link" aria-current="page" routerLink="new"><i class="fa fa-comment-o"></i>Add Course</a></li>

      
    </ul>
  </div>
  
  <div style="padding-top: 100px;" class="content-container">
  
    <div class="container-fluid">
  
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
    
      </div>
  
    </div>
  </div>