<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Save a new course</h2>
      <form [formGroup]="courseForm" (ngSubmit)="onSaveCourse()">
        <div class="form-group">
          <label for="title">Titre</label>
          <input type="text" id="title"
                 class="form-control" formControlName="title">
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" id="category"
                 class="form-control" formControlName="category">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description"
                 class="form-control" formControlName="description">
          </textarea>
        </div>

        <div class="form-group">
          <label for="href">Lien</label>
          <input type="text" id="href"
                 class="form-control" formControlName="href">
        </div>

        <div class="form-group">
          <h4>Ajouter une photo</h4>
          <input type="file" (change)="detectFiles($event)"
                 class="form-control" accept="image/*">
          <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
      </div>
      <button class="btn btn-success" [disabled]="courseForm.invalid || fileIsUploading  "
            type="submit">Enregistrer
      </button>
  
      </form>
    </div>
  </div>