
<div class="text-xxl-center" style="padding-top: 50px;">
   
      <h1  class="display-4" style=" font-family: 'Roboto', sans-serif; color: #134e6f;"  >Courses</h1>
      <div>

        <ul class="list-inline justify-content-center">
          <li routerLinkActive="active" class="list-inline-item">
            <button (click)="onCategory('All')"   class="btn btn-default pull-right" style=" padding-right:30px; color: black;" >All</button>

          </li>
         
          <li routerLinkActive="active"  class="list-inline-item">
            <button (click)="onCategory('Developer')" class="btn btn-default pull-right"  style=" padding-right:30px; color: black; "  >Developer</button>
          </li>
        
          <li  class="list-inline-item">
          <button (click)="onCategory('Business')" class="btn btn-default pull-right"  style=" padding-right:30px; color: black; "  >Business</button>
          </li>
          
          <li class="list-inline-item">
            <button (click)="onCategory(' Photography')" class="btn btn-default pull-right"  style=" padding-right:30px; color: black; ">Photography</button>
          </li>
          <li class="list-inline-item">
            <button (click)="onCategory('Marketing')" class="btn btn-default pull-right" style=" padding-right:30px ; color: black;">Marketing</button>
          </li> 
          <li class="list-inline-item">
            <button (click)="onCategory('Design')" class="btn btn-default pull-right" style=" padding-right:30px ; color: black;">Design</button>
          </li> 
        </ul>
      </div>
    </div>
<!-- Affichage All -->
<div class="container">
    <div *ngIf="categ=='' || categ=='All' " class="d-flex mt-5 justify-content-center">
      <div class="container">
        <div  class="row row-cols-1 row-cols-md-3 g-4 ">
    <app-courses-list-item 
    *ngFor="let course of AllCours; let i=index;"
    [course]="course"
     (click)="onViewCourse(i+1)"> </app-courses-list-item> 
      </div>
  </div>
    </div>
</div>

<!-- Affichage Developer -->
<div class="container">
  <div *ngIf="categ=='Developer' " class="d-flex mt-5 justify-content-center">
    <div class="container">

  <div  class="row row-cols-1 row-cols-md-3 g-4 ">

    <app-courses-list-item
    *ngFor="let course of DeveloperCours; let i=index;"
    [course]="course"
    (click)="onViewCourse(i+1)">
    </app-courses-list-item>

  </div>
  </div>
  </div>
  </div>
  
<!-- Affichage Business -->

<div class="container">
  <div *ngIf="categ=='Business' " class="d-flex mt-5 justify-content-center">
    <div class="container">

  <div  class="row row-cols-1 row-cols-md-3 g-4 ">

    <app-courses-list-item
    *ngFor="let course of BusinessCours; let i=index;"
    [course]="course"
    (click)="onViewCourse(i+1)">
    </app-courses-list-item>

  </div>
  </div>
  </div>
  </div>
  <!-- Affichage Design -->
<div class="container">
  <div *ngIf="categ=='Design' " class="d-flex mt-5 justify-content-center">
    <div class="container">

  <div  class="row row-cols-1 row-cols-md-3 g-4 ">

    <app-courses-list-item
    *ngFor="let course of DesignCours; let i=index;"
    [course]="course"
    (click)="onViewCourse(i+1)">
    </app-courses-list-item>

  </div>
  </div>
  </div>
  </div>

<!-- Affichage Photography -->
<div class="container">
  <div *ngIf="categ==' Photography' " class="d-flex mt-5 justify-content-center">
    <div class="container">
      <div  class="row row-cols-1 row-cols-md-3 g-4 ">

    <app-courses-list-item 
      *ngFor="let course of PhotographyCours; let i=index;"
      [course]="course"
      (click)="onViewCourse(i+1)" >

    </app-courses-list-item>
  </div>
  </div>
  </div>
</div>

<!-- Affichage Marketing -->
  <div class="container">
  <div *ngIf="categ=='Marketing' " class="d-flex mt-5 justify-content-center">
    <div class="container">
      <div  class="row row-cols-1 row-cols-md-3 g-4 ">
    <app-courses-list-item 
      *ngFor="let course of MarketingCours; let i=index;"
      [course]="course"
      (click)="onViewCourse(i+1)" >

    </app-courses-list-item>
  </div>
  </div>
  </div>
  </div>



  

      
       


     