.card-body:hover{
   color: #1AC0C6;
}
.numberCircle {
   display:inline-block;
   line-height:0px;
   border-radius:50%;
   color: green;
   background-color: green;
   font-size:32px;
}

.numberCircle span {
   display:inline-block;
   color:white;
   padding-top:50%;
   padding-bottom:50%;
   margin-left:18px;
   margin-right:18px;

}

#btn-more {
   font-size: 20px ;
   font-weight: 0;
   border: 0cm;
   height: 60px;
   cursor: pointer;
   width: 250px;
   background-color:#1AC0C6; 
   color: white;  
   border-radius: 10px;
}

